.post-box {
  background-color: #f1f2f6;
  border: solid 0px grey;
  width: 550px;
  /* height: 220px; */
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 4px 4px 2px grey;
  padding: 5px;
  text-align: left;
  display: inline-block;
  margin: 6px;
}

.post-box .title-post {
  box-sizing: border-box;
  color: black;
  margin: 5px;
}

.post-box .body-post {
  box-sizing: border-box;
  margin: 5px 10px;
  font-size: 16px;
  height: 85px;
}

.post-box .btn-like {
  background-color: transparent;
  color: rgba(25, 181, 254, 1);
  width: 40px;
  height: 30px;
  border-radius: 50px;
  margin: 5px 10px;
  margin-bottom: 5px;
  border: 2px solid rgba(25, 181, 254, 1);
  box-sizing: border-box;
  font-size: 10px;
  text-align: center;
  padding: 0px;
}

.post-box .btn-dislike {
  background-color: transparent;
  color: rgba(207, 0, 15, 1);
  width: 40px;
  height: 30px;
  border-radius: 50px;
  margin: 5px 10px;
  margin-bottom: 5px;
  border: 2px solid rgba(207, 0, 15, 1);
  box-sizing: border-box;
  font-size: 10px;
  text-align: center;
  padding: 0px;
}

.post-box .btn-read {
  background-color: transparent;
  margin-left: 65%;
  margin-bottom: 10px;
  border: 1.5px solid #16a085;
  border-radius: 10px;
  width: 130px;
  height: 25px;
  color: #7f8c8d;
}

.post-box span {
  color: grey;
  font-size: 11px;
  margin: 5px 10px;
  display: block;
}